.section1{
    background:#1A5276;
    color: white;
    height:400px;
    width:100%;
    padding:50px;
    text-align: center;
}

.section1left{
    width:50%;
    float:left;
}

.section1right{
    width:50%;
    float:right;
    font-size: 50px;
}

h1{
    font-size: 42px;
}

.section2{
    background:white;
    color: black;
    height:400px;
    width:100%;
}

.section2left{
    width:50%;
    float:left;
    padding:20px;
    text-align: center;
}

.section2right{
    padding:50px 0px;
    width:50%;
    float:right;
    text-align: left;
}

.section3{
    background:#8EE2F5;
    color: black;
    height:400px;
    width:100%;
    padding:50px;
    text-align: center;
}

.section3left{
    width:50%;
    float:left;
}

.section3right{
    width:50%;
    float:right;
}